    <!-- ******这里是兴趣爱好****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">兴趣爱好</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> 看电影</li>
                <li><i class="fa fa-check"></i> 打羽毛球</li>
                <li><i class="fa fa-check"></i> 浏览各大网站的数码频道</li>
                <li><i class="fa fa-check"></i> 看欧洲杯:D</li>
                <li><i class="fa fa-check"></i> 看暴走大事件</li>
                <li><i class="fa fa-check"></i> 逛知乎...</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
