    <!-- ******这里是题头****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">ZZY<span class="highlight">Home
		</span></h2>
            <p class="intro">张泽阳的个人主页</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://zhangzeyang66.github.io/" target="_blank">我的博客</a>
                <a class="btn btn-cta-primary" href="https://github.com/zhangzeyang66/" target="_blank">Github主页</a>
            </div>
            <ul class="meta list-inline">zhangzeyang66@126.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年7月
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
            </div>
        </div>
    </section><!--//promo-->
